build:
  modules:
    - ninja
  dependencies:
    - ecmwf/ecbuild@develop
    - ecmwf/eccodes@develop
    - ecmwf/eckit@develop
    - ecmwf/metkit@develop
    - pybind/pybind11@v2.13.6
  cmake_options:
    - -DENABLE_LUSTRE=OFF
    - -DENABLE_DUMMY_DAOS=ON
    - -DENABLE_PYTHON_ZARR_INTERFACE=ON
  parallel: 64
  env:
    - ECCODES_SAMPLES_PATH=$ECCODES_DIR/share/eccodes/samples
    - ECCODES_DEFINITION_PATH=$ECCODES_DIR/share/eccodes/definitions
  python_version: 3.11
  python_requirements: requirements.txt
