# SPDX-FileCopyrightText: 2025 European Centre for Medium-Range Weather Forecasts (ECMWF)
# SPDX-License-Identifier: Apache-2.0
zarr~=3.1.6
numpy
pytest
pytest-asyncio
eccodes
build
setuptools
GitPython
sphinx
pybind11-stubgen

Sybil[pytest]
