{# SPDX-FileCopyrightText: 2005- European Centre for Medium-Range Weather Forecasts (ECMWF)
   SPDX-License-Identifier: Apache-2.0 #}
{% extends "ci-infrastructure/cmake-atos.sh.j2" %}
{% block set_environment %}
  VENV="${TMPDIR:-/tmp}/fdb-venv-atos"
  uv venv "$VENV"
  source "$VENV/bin/activate"
  uv pip install -r "python/requirements-build.txt"
{% endblock %}
{% block test %}
IFS=';:' read -ra dep_prefixes <<< "$CMAKE_PREFIX_PATH"
  for prefix in "${dep_prefixes[@]}"; do
    if [ -d "$prefix/bin" ]; then
      PATH="$prefix/bin:$PATH"
    fi
done
{{ super() }}
{% endblock %}
