{# SPDX-FileCopyrightText: 2005- European Centre for Medium-Range Weather Forecasts (ECMWF)
   SPDX-License-Identifier: Apache-2.0 #}
{% extends "ci-infrastructure/cmake-runner.sh.j2" %}
{% import "ci-infrastructure/python.j2" as py %}
{% block set_environment %}
{{ py.get_python_via_uv(python_version) }}
uv pip install -r "python/requirements-build.txt"
{% endblock %}
