name: Build Z3FDB Web Service Container

on:
  workflow_dispatch:
  push:
    branches:
      - develop
  pull_request:

jobs:
  build-fdb:
    name: Build Container
    runs-on: [self-hosted, Linux, platform-builder-docker]
    container:
      image: eccr.ecmwf.int/ci-utils/ubuntu_rolling_fdb_build_env:latest
      credentials:
        username: ${{ secrets.ECMWF_DOCKER_REGISTRY_USERNAME }}
        password: ${{ secrets.ECMWF_DOCKER_REGISTRY_ACCESS_TOKEN }}
    steps:
      - name: Get ecbuild
        uses: actions/checkout@v5
        with:
          repository: ecmwf/ecbuild
          ref: develop
          path: ecbuild
      - name: Get cxx-dependencies
        uses: actions/checkout@v5
        with:
          repository: ecmwf/cxx-dependencies
          ref: master
          path: cxx-dependencies-src
          token: ${{ secrets.GH_REPO_READ_TOKEN }}
          submodules: recursive
      - name: Install dependencies
        run: |
          mkdir cxx-dependencies-build
          BUILD_PATH=cxx-dependencies-build INSTALL_PREFIX=dependencies cxx-dependencies-src/build.sh
      - name: Get eccodes
        uses: actions/checkout@v5
        with:
          repository: ecmwf/eccodes
          ref: develop
          path: eccodes-src
      - name: Install eccodes
        run: |
          mkdir eccodes-build
          cmake \
            -B eccodes-build \
            -S eccodes-src \
            -GNinja \
            -DCMAKE_INSTALL_PREFIX=dependencies \
            -DCMAKE_PREFIX_PATH=dependencies \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DENABLE_MEMFS=ON \
            -DENABLE_AEC=ON
          cmake --build eccodes-build -j -t install
      - name: Get eckit
        uses: actions/checkout@v5
        with:
          repository: ecmwf/eckit
          ref: develop
          path: eckit-src
      - name: Install eckit
        run: |
          mkdir eckit-build
          cmake \
            -B eckit-build \
            -S eckit-src \
            -GNinja \
            -DCMAKE_INSTALL_PREFIX=dependencies \
            -DCMAKE_PREFIX_PATH=dependencies \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build eckit-build -j -t install
      - name: Get metkit
        uses: actions/checkout@v5
        with:
          repository: ecmwf/metkit
          ref: develop
          path: metkit-src
      - name: Install Metkit
        run: |
          mkdir metkit-build
          cmake \
            -B metkit-build \
            -S metkit-src \
            -GNinja \
            -DCMAKE_INSTALL_PREFIX=dependencies \
            -DCMAKE_PREFIX_PATH=dependencies \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build metkit-build -j -t install
      - name: Get fdb5
        uses: actions/checkout@v5
        with:
          repository: ecmwf/fdb
          path: fdb-src
      - name: Build Fdb
        run: |
          export PATH=$(pwd)/dependencies/bin:$PATH
          mkdir fdb-build
          cmake \
            -B fdb-build \
            -S fdb-src \
            -GNinja \
            -DCMAKE_INSTALL_PREFIX=dependencies \
            -DCMAKE_PREFIX_PATH=dependencies \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DENABLE_TOOLS=ON \
            -DENABLE_PYTHON_ZARR_INTERFACE=ON
          cmake --build fdb-build -j
          cd fdb-build
          ctest -j $(nproc) --output-on-failure
      - name: Run Z3fdb Wheel Installation Test
        run: |
          pip install ./fdb-build/$(ls fdb*.whl)
          FDB5_HOME=fdb-build python -c "import z3fdb"
      - name: Package minimal FDB
        run: |
          mkdir stage/fdb/lib
          cp fdb-build/lib/libmetkit.so \
          cp fdb-build/lib/libfdb5.so \
             fdb-build/lib/libeckit_option.so \
             fdb-build/lib/libeccodes.so \
             fdb-build/lib/libeckit.so \
             fdb-build/lib/libeccodes_memfs.so \
             depndencies/libaec.so* \
             ${{ github.workspace }}/stage/fdb/lib
          tar --zstd -cvf fdb.tar.zst -C ${{ github.workspace }}/stage/ fdb
      - name: Upload Minimal FDB
        uses: actions/upload-artifact@v4
        with:
          name: minimal-fdb
          path: fdb.tar.zst
          retention-days: 1
          if-no-files-found: error
      - name: Upload Z3FDB Wheel
        uses: actions/upload-artifact@v4
        with:
          name: z3fdb-wheel
          path: "fdb-build/z3fdb-*.whl"
          retention-days: 1
          if-no-files-found: error



