name: rust

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'rust-bindings'
    tags-ignore:
      - '**'
    paths:
      - 'rust/**'
      - '.github/workflows/rust.yml'

  pull_request:
    paths:
      - 'rust/**'
      - '.github/workflows/rust.yml'

  workflow_dispatch: ~

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: check
    if: ${{ !github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust

      - name: Check
        run: cargo check --features vendored

  test:
    name: test
    if: ${{ !github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust

      - name: Test
        run: cargo test --features vendored

  clippy:
    name: clippy
    if: ${{ !github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust

      - name: Clippy
        run: cargo clippy --features vendored -- -D warnings

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Format check
        run: cargo fmt --check
